@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    max-width: 300px; /* Adjust this value as needed */
}
